.container{
	
	background: #eee;
	width: 100%;
	
	.content-wrap{
		width: 100%;
		max-width: 800px;
		min-width: 500px;
		
		background: #fff;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		padding-bottom: 50px;


	}
	.flex-row{
		display: flex;
		align-items: stretch;
		min-height: calc(100vh - 100px);
		justify-content: flex-start;
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		
	}
	.left{
		width: calc(100% - 300px);
		padding: 20px;
		min-width: 200px;
		transition: 0.25s;
	}
	.side-bar{
		
		width: 300px;
		border-left: 1px solid #ccc;
		
		background: #fff;
		transition: all 0.25s;
		transition-timing-function: linear;
		position: relative;
		.content{
			padding: 20px;
			width: 100%;
			position: relative;
			z-index: 1;
			background: #fff;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: -15px;
			height: 100%;
			width: 100%;
			border-radius: 15px;
			background: #333;
			opacity: 0.5;

		}
		//box-shadow: 0 0 15px rgba(51, 51, 51, 0.5);

	}
}
header{
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #999;
	position: relative;
	z-index: 10;
	background: #fff;
	
}

footer{
	height: 50px;
	width: 100%;
	border-top: 1px solid #999;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	max-width: 800px;
	background: #fff;
	margin-top: 80px;
	z-index: 1;
}





@media(max-width: 700px){
	.container{
		.side-bar{

			
			transition-timing-function: ease;
			margin-right: -300px;
			opacity: 0;
		}
		.left{
			
			width: 100%;
		}
	}

}
